{% extends 'base.html.twig' %}

{% block body %}

<!-- START: Good to know -->
{% if good_to_know | length > 0 %}
<div class="container max-w-6xl mx-auto py-6 mb-4">
	<h2 class="text-3xl font-bold text-gray-800 mb-4 text-white">Good to know</h2>
	<div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-col-auto gap-4 px-4 xl:px-0">
		{% for post in good_to_know ~%}
			{%~ include 'components/_card.html.twig' with { 
				'tags': post.tags, 
				'likes': post.likes,
				'title': post.title,
				'favorites': post.favorites,
				'link': path('app_post', { slug: post.slug }),
				'like_url': path('app_post_like', { slug: post.slug }),
				'favorite_url': path('app_post_favorite', { slug: post.slug }),
			} only %}
		{%~ endfor ~%}
	</div>
</div>
{% endif %}
<!-- END: Good to know -->

<!-- START: Latest Posts -->
{% if posts | length > 0 %}
<div class="container max-w-6xl mx-auto py-6">
	<h2 class="text-3xl font-bold text-gray-800 mb-4 text-white">Latest Posts</h2>
	<div id="latest-posts" class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-col-auto gap-4 px-4 xl:px-0">
		{% for post in posts ~%}
			{%~ include 'components/_card.html.twig' with { 
				'tags': post.tags, 
				'likes': post.likes,
				'title': post.title,
				'favorites': post.favorites,
				'link': path('app_post', { slug: post.slug }),
				'like_url': path('app_post_like', { slug: post.slug }),
				'favorite_url': path('app_post_favorite', { slug: post.slug }),
			} only %}
		{%~ endfor ~%}
	</div>
</div>
{% endif %}
<!-- END: Latest Posts -->

{% endblock %}
